@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  font-size: 10px;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Play", Helvetica, sans-serif;
  color: #000;
  font-size: 1.6rem;
  line-height: 1.42;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 94rem;
  height: 100%;
}

input, button {
  border: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  html {
    font-size: 9px;
  }

  .container {
    max-width: 730px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 8px;
  }

  .container {
    max-width: 430px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 7px;
  }

  .container {
    max-width: 370px;
  }
}
.contacts {
  padding-top: 4px;
}
@media screen and (max-width: 768px) {
  .contacts {
    display: none;
  }
}

.contacts__phone {
  font-size: 2.1rem;
  font-style: normal;
  white-space: nowrap;
}
.contacts__phone::before {
  content: url(../../../img/pics/phone.png);
  display: inline-block;
  margin-right: 4px;
}

.button {
  font-size: 1.6rem;
  padding: 17px 41px;
  border-radius: 25.5px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.button--theme--red {
  background: #e01f3d;
  color: #fff;
}
.button--theme--red:hover {
  background-color: #ca1b36;
}

.button--theme--transparent {
  background: transparent;
  color: #999999;
  padding: 0;
}
.button--theme--transparent:hover {
  color: #e01f3d;
}

.button--section--feedback {
  margin-right: 2.7rem;
}
@media screen and (max-width: 768px) {
  .button--section--feedback {
    margin-right: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .button--section--feedback {
    margin-right: 4rem;
  }
}

.button--section--hero {
  margin-bottom: 9.1rem;
}
@media screen and (max-width: 768px) {
  .button--section--hero {
    margin-bottom: 0;
  }
}

.functions__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .functions__list {
    display: none;
  }
}

.functions__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2.7rem;
}

.functions__item-pic {
  width: 4.4rem;
  height: 4.4rem;
}

.functions__item-logo {
  margin-right: 0.7rem;
}

.functions__item-text {
  font-size: 1.6rem;
  width: 9.7rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8.2rem;
}

.header__logo {
  display: block;
  width: 41px;
  height: 41px;
  margin-right: -1.1rem;
  flex-shrink: 0;
}

.header__pic {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .header__menu {
    margin-right: 0;
  }
}

.hero {
  background: #f5f5f5;
}
.hero .container--hero {
  padding: 2.3rem 0rem 3.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.hero .container--hero::after {
  content: "";
  display: block;
  position: absolute;
  background: #999999;
  height: 4.3rem;
  width: 1rem;
  right: 13%;
  top: 97.5%;
  transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
  .hero .container--hero::after {
    top: 98%;
    right: 15%;
  }
}
@media screen and (max-width: 768px) {
  .hero .container--hero {
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.7rem;
    padding-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .hero .container--hero {
    padding-top: 2.7rem;
  }
}
.hero .hero__title-area {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .hero .hero__title-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 13%;
  }
}

.hero__title {
  font-size: 4.8rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 39.1rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .hero__title {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0% 10%;
  }
}
@media screen and (max-width: 480px) {
  .hero__title {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .hero__title {
    font-size: 3.6rem;
  }
}

.hero__subtitle {
  font-size: 1.8rem;
  width: 32rem;
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 768px) {
  .hero__subtitle {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__subtitle {
    margin-bottom: 3.5rem;
  }
}

.hero__img {
  width: 53%;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  right: 0%;
  overflow: hidden;
  background: #fff;
}
@media screen and (max-width: 768px) {
  .hero__img {
    width: 35rem;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -93%);
  }
}
@media screen and (max-width: 480px) {
  .hero__img {
    width: 62%;
    top: 50%;
  }
}

.hero__pic {
  height: 100%;
  width: 100%;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .menu__list {
    display: none;
  }
}

.menu__item {
  margin-right: 2.6rem;
  margin-bottom: 5px;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__item-link {
  font-size: 1.6rem;
  white-space: nowrap;
}

.container--why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.container--why::after {
  content: "";
  display: block;
  position: absolute;
  left: 4%;
  top: 97.5%;
  transform: rotate(-14deg);
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  border-bottom: 3.3rem solid #e01f3d;
}

.why__title {
  text-transform: uppercase;
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.4rem;
}
@media screen and (max-width: 480px) {
  .why__title {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .why__title {
    font-size: 3.6rem;
  }
}

.why__subtitle {
  color: #666666;
  text-align: center;
  width: 57rem;
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 0 auto 5.7rem;
}
@media screen and (max-width: 480px) {
  .why__subtitle {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .why__subtitle {
    margin-bottom: 2rem;
  }
}

.why__list {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .why__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.why__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  position: relative;
}
.why__item::after {
  content: url(/img/pics/1.png);
  position: absolute;
  right: -7%;
  top: 20%;
  transform: translateX(50%);
}
.why__item:last-child::after {
  content: none;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .why__item::after {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .why__item {
    flex-direction: row;
    width: inherit;
    margin-bottom: 4.5rem;
  }
}

.why__item-logo {
  width: 12.5rem;
  height: 12.5rem;
  background: #f5f5f5;
  border-radius: 50%;
  margin-bottom: 2.8rem;
}
@media screen and (max-width: 768px) {
  .why__item-logo {
    margin-right: 1.8rem;
    margin-bottom: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .why__item-logo {
    width: 14.5rem;
    height: 14.5rem;
    flex-shrink: 0;
    margin-bottom: 0;
    margin-right: 1.7rem;
  }
}
@media screen and (max-width: 400px) {
  .why__item-logo {
    width: 12.5rem;
    height: 12.5rem;
  }
}

.why__item-pic {
  width: 50%;
  transform: translate(50%, -8%);
}
@media screen and (max-width: 768px) {
  .why__item-pic {
    transform: translate(50%, -12%);
  }
}
@media screen and (max-width: 480px) {
  .why__item-pic {
    transform: translate(50%, -11%);
  }
}
@media screen and (max-width: 400px) {
  .why__item-pic {
    transform: translate(50%, -20%);
  }
}

.why__item-content {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .why__item-content {
    text-align: left;
  }
}

.why__item-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
@media screen and (max-width: 768px) {
  .why__item-title {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .why__item-title {
    margin-bottom: 2rem;
  }
}

.why__item-text {
  color: #666666;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .why__item-text {
    line-height: 1.1;
  }
}
@media screen and (max-width: 400px) {
  .why__item-text {
    font-size: 2rem;
  }
}

.container--reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container--reviews::after {
  content: "";
  display: block;
  position: absolute;
  background: #999999;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  left: 4%;
  top: 98%;
}
@media screen and (max-width: 768px) {
  .container--reviews::after {
    top: 98.6%;
  }
}

.reviews__title {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4.4rem;
}
@media screen and (max-width: 768px) {
  .reviews__title {
    margin-bottom: 3.4rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__title {
    font-size: 4rem;
    margin-bottom: 2.4rem;
  }
}
@media screen and (max-width: 400px) {
  .reviews__title {
    font-size: 3.6rem;
  }
}

.reviews__content {
  width: 100%;
  min-height: 34.5rem;
  background: #f5f5f5;
  padding: 5rem 11rem 3.5rem 4.5rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 2.7rem;
}
.reviews__content::before {
  content: "";
  display: block;
  position: absolute;
  width: 8rem;
  height: 3.5rem;
  border-radius: 0 0 8rem 8rem;
  background: #fff;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .reviews__content {
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    padding-top: 6.5rem;
    padding-bottom: 8rem;
  }
}

.reviews__content-logo {
  width: 25.3rem;
  height: 26rem;
  margin-right: 2rem;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .reviews__content-logo {
    width: 13rem;
    height: 13rem;
    margin-bottom: 1.8rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content-logo {
    margin-bottom: 1.3rem;
  }
}

.reviews__content-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__content-info {
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
}
@media screen and (max-width: 768px) {
  .reviews__content-info {
    text-align: center;
  }
}

.reviews__info-title {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
  .reviews__info-title {
    margin-bottom: 1.7rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__info-title {
    font-size: 3rem;
    margin-bottom: 1.4rem;
  }
}

.reviews__info-text {
  font-size: 1.8rem;
  color: #666;
  margin-bottom: 2.5rem;
  line-height: 1.22;
}
@media screen and (max-width: 768px) {
  .reviews__info-text {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__info-text {
    line-height: 1.4;
    margin-bottom: 2rem;
  }
}

.reviews__info-name {
  font-size: 1.8rem;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .reviews__info-name {
    font-size: 2.1rem;
  }
}

.reviews__list {
  display: flex;
  justify-content: center;
}

.reviews__item {
  width: 7.8rem;
  height: 7.8rem;
  border-radius: 50%;
  border: 6px solid transparent;
  overflow: hidden;
  position: relative;
}
.reviews__item:last-child {
  margin-right: 0;
}
.reviews__item--active {
  border-color: #e01f3d;
}
@media screen and (max-width: 768px) {
  .reviews__item {
    margin-right: 0.8rem;
  }
}

.reviews__item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.reviews__item-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fixed-menu {
  position: fixed;
  top: 37%;
  right: 3%;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e42424;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #e42424;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback {
  background: url(/img/pics/formsbg.png) center bottom no-repeat;
  background-color: #171717;
}

.container--feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .container--feedback {
    padding: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .container--feedback {
    padding: 10rem 0rem;
  }
}

.feedback__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 768px) {
  .feedback__title {
    white-space: nowrap;
    margin-bottom: 2.3rem;
  }
}
@media screen and (max-width: 480px) {
  .feedback__title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 400px) {
  .feedback__title {
    font-size: 3.6rem;
  }
}

.feedback__form {
  display: flex;
}
@media screen and (max-width: 768px) {
  .feedback__form {
    flex-direction: column;
    width: 46rem;
  }
}
@media screen and (max-width: 480px) {
  .feedback__form {
    width: 100%;
  }
}

.feedback__form-col {
  flex: 1;
  margin-right: 2rem;
}
.feedback__form-col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .feedback__form-col {
    margin-right: 0;
  }
}

.feedback__form-row {
  display: flex;
  margin-bottom: 1rem;
}
@media screen and (max-width: 480px) {
  .feedback__form-row {
    margin-bottom: 1.5rem;
  }
}

.feedback__form-block {
  flex: 1;
  margin-right: 2rem;
}
.feedback__form-block:last-child {
  margin-right: 0;
}

.feedback__form-title {
  color: #f8faf9;
  margin-bottom: 0.6rem;
}
@media screen and (max-width: 480px) {
  .feedback__form-title {
    margin-bottom: 0.3rem;
  }
}

.feedback__form-input {
  width: 100%;
  border: none;
  padding: 1.8rem 1.1rem;
  border: solid 3px transparent;
}
.feedback__form-input--textarea {
  height: 18rem;
  resize: none;
  margin-bottom: 0.3rem;
}
@media screen and (max-width: 768px) {
  .feedback__form-input--textarea {
    height: 8rem;
  }
}
.feedback__form-input:focus {
  border-color: #e01f3d;
  outline: none;
}
@media screen and (max-width: 768px) {
  .feedback__form-input {
    padding: 0.4rem 1.1rem;
  }
}

.feedback__form-controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.9rem;
}
.feedback__form-controls:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .feedback__form-controls {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .feedback__form-controls {
    justify-content: center;
  }
}
.feedback__form-controls--checkbox {
  margin-bottom: 4rem;
}

.feedback__buttons {
  display: flex;
  justify-content: center;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 3.6rem;
}
.radio:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-right: 2.6rem;
  }
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #e01f3d;
  border-radius: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.8rem;
}
.radio__visible::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #e01f3d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.radio__title {
  color: #f8faf9;
}

.container--team {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10%;
}

.team__title {
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5.7rem;
}
@media screen and (max-width: 400px) {
  .team__title {
    font-size: 3.6rem;
  }
}

.team__members {
  width: 100%;
}

.members__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .members__list {
    flex-direction: column;
  }
}

.members__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
  flex: 1;
}
.members__item:last-child {
  margin-right: 0;
}

.members__item.is-active .members__link::after {
  transform: rotate(180deg);
}

.members__img {
  width: 22rem;
  height: 28.8rem;
  margin-bottom: 2.7rem;
  overflow: hidden;
}

.members__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.members__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}

.members__link {
  font-weight: bold;
  margin-bottom: 1.3rem;
}
.members__link::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 4.5px 0px 4.5px;
  border-color: #e01f3c transparent transparent transparent;
}

.members__info-occ {
  font-size: 1.6rem;
  color: #281e1e;
  margin-bottom: 1.8rem;
}

.members__info-desc {
  font-size: 1.6rem;
  color: #666666;
  text-align: center;
}

.how {
  background: #f5f5f5;
}

.container__how {
  padding: 6.8rem 0px 9.4rem;
  position: relative;
}
.container__how::after {
  content: "";
  right: 4%;
  top: 97.5%;
}

.how__title {
  font-size: 4.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
}
@media screen and (max-width: 400px) {
  .how__title {
    font-size: 3.6rem;
  }
}

.how__decor {
  position: absolute;
  bottom: -3%;
  right: 4%;
  transform: rotate(-20deg);
}

.pentagon {
  width: 49px;
  position: relative;
  border-width: 25px 10px 0;
  border-style: solid;
  border-color: #e01f3d transparent;
}

.pentagon:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: -44px;
  left: -10px;
  border-width: 0 25px 20px;
  border-style: solid;
  border-color: transparent transparent #e01f3d;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.container--footer {
  padding: 2.8rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .container--footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__info {
    text-align: center;
    margin-bottom: 1.5rem;
  }
}

.footer__info-item {
  font-size: 1.8rem;
}
@media screen and (max-width: 480px) {
  .footer__info-item {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.socials {
  display: flex;
}

.socials__item {
  margin-right: 1rem;
}
.socials__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .socials__item {
    margin-right: 0.65rem;
  }
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background: #b3b3b3 center center no-repeat;
  position: relative;
}
.socials__link:hover {
  background: #000;
}

.tw-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.6rem;
  height: 2.6rem;
}

.vk-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.6rem;
  height: 2.6rem;
}

.fb-svg {
  position: absolute;
  top: 10%;
  width: 5.6rem;
  height: 5.6rem;
}

.insta-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2.3rem;
  height: 2.3rem;
}

.map {
  position: relative;
}

.map__img {
  overflow: hidden;
  height: 100%;
}

.map__pic {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .map__pic {
    height: 100%;
    min-width: 100%;
  }
}

.hamburger {
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    align-self: center;
  }
}

.menu__input {
  display: none;
}

#menu__btn {
  display: none;
}
@media screen and (max-width: 768px) {
  #menu__btn {
    display: flex;
    align-items: center;
    width: 24px;
    height: 22px;
    cursor: pointer;
    position: relative;
  }
}
#menu__btn span, #menu__btn span::before, #menu__btn span::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 10px;
}
#menu__btn span::before {
  content: "";
  top: -7px;
}
#menu__btn span::after {
  content: "";
  top: 7px;
}

#hamburger__overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(49, 52, 54, 0.98);
  z-index: 10000;
  justify-content: center;
}

.menu__list--hamburger {
  position: fixed;
  padding-top: 10%;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.menu__item--hamburger {
  margin-bottom: 5.5rem;
  margin-right: 0;
}
.menu__item--hamburger:last-child {
  margin-bottom: 0;
}

.menu__item-link--hamburger {
  font-size: 3.6rem;
}

#menu__close {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#hamburger__close::before, #hamburger__close::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 10px;
}
#hamburger__close::before {
  transform: rotate(45deg);
}
#hamburger__close::after {
  transform: rotate(-45deg);
}

.slider {
  background: #f5f5f5;
}

.container--slider {
  position: relative;
  display: flex;
  justify-content: center;
}
.container--slider::after {
  content: "";
  display: block;
  position: absolute;
  background: #000;
  height: 3rem;
  width: 3rem;
  right: 13%;
  top: 99.5%;
  transform: rotate(29deg);
}

.slider__col {
  width: 48%;
}
.slider__col--left {
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider__col--left {
    width: 70%;
    margin-bottom: 5rem;
  }
}
.slider__col--right {
  position: relative;
}
@media screen and (max-width: 768px) {
  .slider__col--right {
    width: 100%;
  }
}

.slider__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .slider__content {
    flex-direction: column;
    justify-content: center;
  }
}

.slider__img {
  left: 0;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  margin-left: 5%;
}
@media screen and (max-width: 768px) {
  .slider__img {
    margin-right: 0;
    margin-left: 10%;
  }
}

.slider__pic {
  width: 100%;
  height: 100%;
  transform: scale(0.8);
}

@media screen and (max-width: 768px) {
  .slider__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.slider__dropdown {
  position: relative;
  margin-bottom: 3.7rem;
  height: 9rem;
  width: 9rem;
}
.slider__dropdown:hover .dropdown__link {
  background: #6e6e6e;
}
.slider__dropdown:hover .dropdown__menu {
  left: 9rem;
}
@media screen and (max-width: 768px) {
  .slider__dropdown {
    display: none;
  }
}

.slider__info--title {
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 2.7rem;
}
@media screen and (max-width: 768px) {
  .slider__info--title {
    text-align: center;
  }
}

.slider__info--subtitle {
  color: #666666;
  margin-bottom: 4.5rem;
  width: 80%;
}
@media screen and (max-width: 768px) {
  .slider__info--subtitle {
    text-align: center;
  }
}

.slider__char--list {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  margin-bottom: 6.7rem;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .slider__char--list {
    justify-content: center;
  }
}

.char__item {
  text-align: left;
  margin-right: 7rem;
}
.char__item:last-child {
  margin-right: 0;
}

.char__item--title {
  color: #666666;
}

.char__item--subtitle {
  font-weight: bold;
}

.slider__info--order {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .slider__info--order {
    justify-content: center;
  }
}

.info--order__item {
  font-size: 3.6rem;
  margin-right: 2rem;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 210%;
  position: absolute;
  top: 0;
}
@media screen and (max-width: 768px) {
  .arrows {
    height: 0;
    top: 50%;
    width: 110%;
  }
}

.arrow {
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #000;
  border-right-color: #000;
  border-radius: 0 0 5px 0;
}
.arrow--left {
  transform: rotate(135deg);
}
.arrow--right {
  transform: rotate(-45deg);
}

.dropdown__link {
  width: 9rem;
  height: 9rem;
  background: #9a9a9a;
  border-radius: 5px;
  position: relative;
}

.dropdown-pic {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
}

.dropdown__menu {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: -9999rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.4rem 4rem 3.4rem 2rem;
}

.dropdown__item {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
  min-width: 230px;
}
.dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown__item-pic {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.dropdown__item--title {
  text-align: left;
}

.dropdown__item--stat {
  text-align: left;
  min-width: 50px;
  margin-left: auto;
}

.colors {
  background: url(/img/pics/girlball.png) center center no-repeat;
  background-color: #000;
  background-size: cover;
}