@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Play", Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.42;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1101px;
}

input, button {
  border: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.contacts__phone {
  font-size: 21px;
  font-style: normal;
}
.contacts__phone::before {
  content: url(../../../img/pics/phone.png);
  display: inline-block;
  margin-right: 4px;
}

.button {
  width: 160px;
  height: 52px;
  font-size: 16px;
  background: #e01f3d;
  color: #fff;
  padding: 17px 41px;
  border-radius: 25.5px;
  text-transform: uppercase;
}

.button--theme--red {
  background: #e01f3d;
  color: #fff;
}

.functions__list {
  display: flex;
  flex-direction: row;
  margin-top: 108px;
  width: 507px;
  justify-content: space-between;
}

.functions__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.functions__item-pic {
  width: 44px;
  height: 44px;
}

.functions__item-logo {
  margin-right: 9px;
}

.functions__item-text {
  width: 97px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 82px;
}

.hero {
  background: #f5f5f5;
}
.hero .container--hero {
  padding: 23px 52px 36px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  width: 391px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 18px;
  width: 320px;
  margin-bottom: 53px;
}

.hero__img {
  width: 486px;
  height: 487px;
  background: #fff url(/img/pics/MX452.png) center center no-repeat;
  border-radius: 50%;
  position: absolute;
  margin-top: 76px;
  margin-left: 512px;
}

.header__logo {
  display: block;
  width: 41px;
  height: 41px;
  margin-right: 40px;
}

.header__pic {
  width: 100%;
  height: 100%;
}

.header__menu {
  margin-right: 51px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-right: 26px;
}
.menu__item:last-child {
  margin-right: 0;
}

.container--why {
  padding: 96px 52px 107px;
}

.why__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4px;
}

.why__subtitle {
  color: #666666;
  text-align: center;
  width: 571px;
  height: 38px;
  margin-bottom: 62px;
  font-size: 18px;
  line-height: 1.2;
  margin-left: 189px;
}

.why__list {
  display: flex;
  justify-content: space-between;
}

.why__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 313px;
  position: relative;
}
.why__item::after {
  content: url(/img/pics/1.png);
  position: absolute;
  left: 291px;
  top: 52px;
}
.why__item:last-child::after {
  content: none;
}

.why__item-logo {
  width: 125px;
  height: 125px;
  background: #f5f5f5;
  border-radius: 50%;
  margin-bottom: 28px;
}

.why__item-pic {
  width: 50%;
  transform: translate(50%, 50%);
}

.why__item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.why__item-text {
  text-align: center;
  color: #666666;
  line-height: 1.2;
}

.container--reviews {
  padding: 68px 81px 66px;
}

.reviews__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.reviews__content {
  width: 940px;
  height: 345px;
  background: #f5f5f5;
  padding: 50px 110px 35px 45px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 27.7px;
}
.reviews__content::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  top: -56px;
  left: 45%;
}

.reviews__content-logo {
  background: url(/img/pics/billie.png) center center no-repeat;
  background-size: 200%;
  width: 253.1px;
  height: 259.3px;
  margin-right: 20px;
}

.reviews__content-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.reviews__info-title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 32px;
}

.reviews__info-text {
  font-size: 18px;
  color: #666;
  width: 511px;
  margin-bottom: 32px;
}

.reviews__info-name {
  font-size: 18px;
  font-weight: bold;
}

.reviews__list {
  display: flex;
  justify-content: center;
}

.reviews__item {
  width: 66.7px;
  height: 66.7px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 11.7px;
}
.reviews__item:last-child {
  margin-right: 0;
}

.reviews__item--active {
  border: 6px #e01f3d;
}