@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: "Play", Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.42;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1101px;
}

input, button {
  border: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.contacts__phone {
  font-size: 21px;
  font-style: normal;
}
.contacts__phone::before {
  content: url(../../../img/pics/phone.png);
  display: inline-block;
  margin-right: 4px;
}

.button {
  font-size: 16px;
  padding: 17px 41px;
  border-radius: 25.5px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.button--theme--red {
  background: #e01f3d;
  color: #fff;
}
.button--theme--red:hover {
  background-color: #ca1b36;
}

.button--theme--transparent {
  background: transparent;
  color: #999999;
  padding: 0;
}
.button--theme--transparent:hover {
  color: #e01f3d;
}

.button--section--feedback {
  margin-right: 17px;
}

.functions__list {
  display: flex;
  flex-direction: row;
  margin-top: 108px;
  justify-content: flex-start;
}

.functions__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 15px;
}

.functions__item-pic {
  width: 44px;
  height: 44px;
}

.functions__item-logo {
  margin-right: 9px;
}

.functions__item-text {
  width: 97px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 82px;
}

.hero {
  background: #f5f5f5;
}
.hero .container--hero {
  padding: 23px 52px 36px 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.hero .container--hero::after {
  content: "";
  display: block;
  position: absolute;
  background: #999999;
  height: 50px;
  width: 15px;
  right: 4%;
  top: 97%;
  transform: rotate(40deg);
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  width: 391px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero__subtitle {
  font-size: 18px;
  width: 320px;
  margin-bottom: 53px;
}

.hero__img {
  width: 486px;
  height: 487px;
  background: #fff url(/img/pics/MX452.png) center center no-repeat;
  border-radius: 50%;
  position: absolute;
  top: 107px;
  right: 6px;
}

.header__logo {
  display: block;
  width: 41px;
  height: 41px;
  margin-right: 40px;
}

.header__pic {
  width: 100%;
  height: 100%;
}

.header__menu {
  margin-right: 51px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item {
  margin-right: 26px;
}
.menu__item:last-child {
  margin-right: 0;
}

.container--why {
  padding: 96px 0px 107px;
}

.why__title {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4px;
}

.why__subtitle {
  color: #666666;
  text-align: center;
  width: 571px;
  font-size: 18px;
  line-height: 1.2;
  margin: 0 auto 57px;
}

.why__list {
  display: flex;
  justify-content: space-between;
}

.why__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 313px;
  position: relative;
}
.why__item::after {
  content: url(/img/pics/1.png);
  position: absolute;
  left: 100%;
  top: 20%;
}
.why__item:last-child::after {
  content: none;
}

.why__item-logo {
  width: 125px;
  height: 125px;
  background: #f5f5f5;
  border-radius: 50%;
  margin-bottom: 28px;
}

.why__item-pic {
  width: 50%;
  transform: translate(50%, 50%);
}

.why__item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.why__item-text {
  text-align: center;
  color: #666666;
  line-height: 1.2;
}

.container--reviews {
  padding: 68px 81px 66px;
}

.reviews__title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 44px;
}

.reviews__content {
  width: 940px;
  min-height: 345px;
  background: #f5f5f5;
  padding: 50px 110px 35px 45px;
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 27.7px;
}
.reviews__content::before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  top: -56px;
  left: 45%;
}

.reviews__content-logo {
  width: 253px;
  height: 260px;
  margin-right: 20px;
}

.reviews__content-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__content-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.reviews__info-title {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 32px;
}

.reviews__info-text {
  font-size: 18px;
  color: #666;
  width: 511px;
  margin-bottom: 32px;
}

.reviews__info-name {
  font-size: 18px;
  font-weight: bold;
}

.reviews__list {
  display: flex;
  justify-content: center;
}

.reviews__item {
  width: 72.7px;
  height: 72.7px;
  border-radius: 50%;
  border: 6px solid transparent;
  overflow: hidden;
  position: relative;
  margin-right: 11.7px;
}
.reviews__item:last-child {
  margin-right: 0;
}
.reviews__item--active {
  border-color: #e01f3d;
}

.reviews__item-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.reviews__item-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 5px;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e42424;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #e42424;
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feedback {
  background: url(/img/pics/formsbg.png) center bottom no-repeat;
  background-color: #171717;
}

.container--feedback {
  padding: 85px 0px 90px;
}

.feedback__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 54px;
}

.feedback__form {
  display: flex;
}

.feedback__form-col {
  flex: 1;
  margin-right: 20px;
}
.feedback__form-col:last-child {
  margin-right: 0;
}

.feedback__form-row {
  display: flex;
  margin-bottom: 18px;
}

.feedback__form-block {
  flex: 1;
  margin-right: 20px;
}
.feedback__form-block:last-child {
  margin-right: 0;
}

.feedback__form-title {
  color: #f8faf9;
  margin-bottom: 6px;
}

.feedback__form-input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
}
.feedback__form-input--textarea {
  height: 180px;
  resize: none;
  margin-bottom: 3px;
}
.feedback__form-input:focus {
  border-color: #e01f3d;
  outline: none;
}

.feedback__form-controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 9px;
}
.feedback__form-controls--checkbox {
  margin-bottom: 40px;
}
.feedback__form-controls:last-child {
  margin-bottom: 0;
}

.radio {
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
  margin-right: 20px;
}
.radio:last-child {
  margin-right: 0;
}

.radio__visible {
  margin-right: 8px;
}

.radio--checkbox .radio__visible {
  border-radius: 0;
}
.radio--checkbox .radio__visible::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #e01f3d;
  border-radius: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: #fff;
}
.radio__visible::before {
  content: "";
  width: 14px;
  height: 14px;
  background: #e01f3d;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.radio__title {
  color: #f8faf9;
}