.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 210%;
    position: absolute;
    top: 0;

    @include tablets {
        height: 0;
        top: 50%;
        width: 110%;
    }
}
.arrow {
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #000;
    border-right-color: #000;
    border-radius: 0 0 5px 0;

    &--left {
        transform: rotate(135deg);
    }
    &--right {
        transform: rotate(-45deg);
    }
}