.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: -3%;
    width: 106%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    
    @include tablets {
        top: 34%;
        left: auto;
        width: 70%;
    }

    @include phones {
        transform: translateY(0);
        top: 40vmin;
    }
}
.arrow__item {
    width: 20px;
    height: 20px;

}

.arrow {
    display: block;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #000;
    border-right-color: #000;
    border-radius: 0 0 5px 0;

    &--left {
        transform: rotate(135deg);
    }
    &--right {
        transform: rotate(-45deg);
    }
}