.button {
    font-size: 1.6rem;
    padding: 17px 41px;
    border-radius: 25.5px;
    text-transform: uppercase;
    border: none;
    display: inline-block;
    cursor: pointer;
}
.button--theme--red {
    background: #e01f3d;
    color: #fff;
    transition: 0.5s;

    &:hover {
        background-color: #ca1b36;
    }
}
.button--theme--transparent {
    background: transparent;
    color: #999999;
    padding: 0;
    transition: 0.5s;
    
    &:hover {
        color: #e01f3d;
    }
}


.button--section--feedback {
    margin-right: 2.7rem;

    @include tablets {
        margin-right: 5rem;
    }

    @include phones {
        margin-right: 4rem;
    }
}
.button--section--hero {
    margin-bottom: 9.1rem;

    @include tablets {
        margin-bottom: 0;
    }
}