.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    background: #fff;
}

.container--footer {
    padding: 2.8rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include phones {
        flex-direction: column;
    }
}

.footer__info {
    @include phones {
        text-align: center;
    }
}

.footer__info-item {
    font-size: 1.8rem;
}