.functions__list {
    display: flex;
    flex-direction: row;
    margin-top: 108px;
    justify-content: flex-start;
}
.functions__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}
.functions__item-pic {
    width: 44px;
    height: 44px;
}
.functions__item-logo {
    margin-right: 9px;
}
.functions__item-text {
    width: 97px;
}