.hero {
    background: #f5f5f5;

.container--hero {
    padding: 2.3rem 5.2rem 3.6rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        background: #999999;
        height: 5rem;
        width: 1.5rem;
        right: 4%;
        top: 97%;
        transform: rotate(40deg);
    }
}

}
.hero__title {
    font-size: 4.8rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 39.1rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.hero__subtitle {
    font-size: 1.8rem;
    width: 32rem;
    margin-bottom: 5.3rem;
}

.hero__img {
    width: 48.7rem;
    height: 48.7rem;
    background: #fff url(/img/pics/MX452.png) center center no-repeat;
    border-radius: 50%;
    position: absolute;
    top: 18%;
    right: 5%;
}