.hero {
    background: #f5f5f5;

.container--hero {
    padding: 2.3rem 0rem 3.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    &::after {
        content: "";
        display: block;
        position: absolute;
        background: #999999;
        height: 4.3rem;
        width: 1rem;
        right: 13%;
        top: 97.5%;
        transform: rotate(45deg);

        @include tablets {
            top: 98%;
            right: 15%;
        }
    }
    
    @include tablets {
        padding-left: 0;
        padding-right: 0;
        padding-top: 1.7rem;
        padding-bottom: 0;
    }

    @include phones {
        padding-top: 2.7rem;
    }
}

.hero__title-area {
    position: relative;
    z-index: 1;

    @include tablets {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 13%;
    }
}
}
.hero__title {
    font-size: 4.8rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 39.1rem;
  line-height: 1.2;
  margin-bottom: 2rem;

  @include tablets {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0% 10%;
  }
  @include phones {
      font-size: 4rem;
      margin-bottom: 2rem;
  }
  @include mobiles {
    font-size: 3.6rem;
  }
}
.hero__subtitle {
    font-size: 1.8rem;
    width: 32rem;
    margin-bottom: 3.5rem;

    @include tablets {
        margin-bottom: 2rem;
    }

    @include phones {
        margin-bottom: 3.5rem;
    }
}

.hero__img {
    width: 53%;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    right: 0%;
    overflow: hidden;
    background: #fff;
    
    @include tablets {
        width: 35rem;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -93%);
    }
    @include phones {
        width: 62%;
        top: 50%;
    }
}
.hero__pic {
    height: 100%;
    width: 100%;
}