.how {
    background: #f5f5f5;
}
.container__how {
    padding: 6.8rem 0px 9.4rem;
    position: relative;
    
    &::after {
        content: "";
        right: 4%;
        top: 97.5%;
    }
}
.how__title {
    font-size: 4.8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5rem;
}

.how__decor{
    position: absolute;
    bottom: -3%;
    right: 4%;
    transform: rotate(-20deg);
}
.pentagon {
    width: 49px;
    position: relative;
    border-width: 25px 10px 0;
    border-style: solid;
    border-color: #e01f3d transparent;
}

.pentagon:before {
    content:"";
    height: 0;
    width: 0;
    position: absolute;
    top: -44px;
    left: -10px;
    border-width: 0 25px 20px;
    border-style: solid;
    border-color: transparent transparent #e01f3d;
}