.members__list{
    display: flex;
}
.members__item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    flex: 1;

    &:last-child {
        margin-right: 0;
    }
}
.members__img{
    width: 22rem;
    height: 28.8rem;
    margin-bottom: 2.7rem;
}
.members__pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.members__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.members__info-name{
    font-weight: bold;
    margin-bottom: 1.3rem;
}
.members__info-occ{
    font-size: 1.6rem;
    color: #281e1e;
    margin-bottom: 1.8rem;
}
.members__info-desc{
    font-size: 1.6rem;
    color: #666666;
    text-align: center;
}