// .player-section__container {
//     width: 660px;
//     height: 405px;
// }

// $grey:#D6D6D6;

// .video {
// height:100%;
// width:100%;
// position: relative;
// }
// video {
//     height:100%;
//     width:100%;
//     &::-webkit-media-controls-enclosure,
//     &::-webkit-media-controls {
//     display:none !important; // Override display of the original controls
//     }
// }
//     .controls {
//       height:36px;
//       width:100%;
//       position:absolute;
//       bottom:0;
//       background:#151515;
//       z-index:2147483648; // Override z-index of the original controls
//       &.extended {
//       }
//       .playpause,
//       .volume,
//       .fullscreen {
//         width:48px;
//         padding:12px 0;
//         color:$grey;
//         font-size:16px;
//         text-align:center;
//       }
//       .progress {
//         width:calc(100% - 208px);
//         position:absolute;
//         top:0;
//         bottom:0;
//         left:54px;
//         margin:auto;
//         background:transparent;
//       }
//       .volume {
//         position:absolute;
//         right:96px;
//         input {
//           background:transparent;
//           width:48px;
//           position:absolute;
//           top:0;
//           bottom:0;
//           left:44px;
//           margin:auto;
//         }
//       }
//       .fullscreen {
//         position:absolute;
//         right:0;
//         top:0;
//       }
//     }
  
// .text {
// width:360px;
// position:absolute;
// top:280px;
// left:0;
// right:0;
// bottom:auto;
// font-size:48px;
// text-align:center;
// font-family:"Roboto Condensed";
// }

// .whitespace {
//   height:40px;
//   position:absolute;
//   bottom:-40px;
// }


.video {
    width: 66rem;
    height: 40rem;
    position: relative;
}
video {
    height: 100%;
    width: 100%;
    position: relative;
}
.video__icon {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
}



.controls {
    position: absolute;
    height: 36px;
    width: 100%;
    bottom: 0;
    background: #151515;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.progress {
    width: 68%;
    margin-right: 20px;
}
.playpause {
    margin-right: 10px;
    width: 15px;
}
.pause {
    cursor: pointer;
    height: 0;
    border: 11px solid transparent;
    border-left-color: #fff;
    border-right-width: 0;
    background: transparent;
}
.play {
    cursor: pointer;
    border: 7px solid #fff;
    height: 20px;
    border-top: 0;
    border-bottom: 0;
    padding: 1px;
}

.volume {
    display: flex;
    align-items: center;
}
.volume__icon {
    fill: #fff;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    cursor: pointer;
}