.player {
    position: relative;
    width: 66rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__video {
    width: 100%;
    height: 100%;
}

.player__controls {
    background: #151515;
    height: 35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.buttons {
    width: 5%;
    display: flex;
    align-items: center;
}
.buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 20px;
    height: 25px;
}
.play__pic, .pause__pic{
    width: 100%;
    height: 100%;
    fill: #fff;
}

.pause__pic {
    display: none;
}


.playback__bar {
    height: 5px;
    background: #303030;
    width: 80%;
    display: flex;
    align-items: center;
}
.playback__bar--past {
    height: 5px;
    width: 100px;
    background: #e01f3d;
}
.playback__button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #e01f3d;
    border: 0;
    outline: 0;
    cursor: pointer;
}


.player__volume {
    width: 13%;
    display: flex;
    align-items: center; 
}
.volume__bar {
    display: flex;
    align-items: center; 
    background: #303030;
    width: 6rem;
    height: 5px;
    margin-left: 5px;
}
.volume__bar--past {
    height: 5px;
    width: 10px;
    background: #e01f3d;
}
.volume__button {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #e01f3d;
    border: 0;
    outline: 0;
    cursor: pointer;
}
.volume__pic {
    width: 30px;
    height: 25px;
    fill: #fff;
}