.container--team{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10%;
}
.team__title{
    font-size: 4.8rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5.7rem;

    @include mobiles {
        font-size: 3.6rem;
      }
}
.team__members {
    width: 100%;
}