.container--why {
    padding: 9.6rem 0px 10.7rem;
    position: relative;

    &::after { 
        content: "";
        display: block;
        position: absolute;
        left: 4%;
        top: 97%;
        transform: rotate(-20deg);
        width: 0;
        height: 0;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom: 3.5rem solid #e01f3d;
    }
}
.why__title {
    text-transform: uppercase;
    font-size: 4.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.4rem;
}
.why__subtitle {
    color: #666666;
    text-align: center;
    width: 57rem;
    font-size: 1.8rem;
    line-height: 1.2;
    margin: 0 auto 5.7rem;
}
.why__list {
    display: flex;
    justify-content: space-between;
}
.why__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.3rem;
    position: relative;
    &::after {
        content: url(/img/pics/1.png);
        position: absolute;
        left: 100%;
        top: 20%;
    }
    &:last-child::after {
        content: none;
    }
}
.why__item-logo {
    width: 12.5rem;
    height: 12.5rem;
    background: #f5f5f5;
    border-radius: 50%;
    margin-bottom: 2.8rem;
}
.why__item-pic {
    width: 50%;
    transform: translate(50%, 50%);
}
.why__item-title{
    font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
.why__item-text {
    text-align: center;
    color: #666666;
    line-height: 1.2;
}