.container--why {
    padding: 96px 52px 107px;
}
.why__title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4px;
}
.why__subtitle {
    color: #666666;
    text-align: center;
    width: 571px;
    height: 38px;
    margin-bottom: 62px;
    font-size: 18px;
    line-height: 1.2;
    margin-left: 189px;
}
.why__list {
    display: flex;
    justify-content: space-between;
}
.why__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 313px;
    position: relative;
    &::after {
        content: url(/img/pics/1.png);
        position: absolute;
        left: 291px;
        top: 52px;
    }
    &:last-child::after {
        content: none;
    }
}
.why__item-logo {
    width: 125px;
    height: 125px;
    background: #f5f5f5;
    border-radius: 50%;
    margin-bottom: 28px;
}
.why__item-pic {
    width: 50%;
    transform: translate(50%, 50%);
}
.why__item-title{
    font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}
.why__item-text {
    text-align: center;
    color: #666666;
    line-height: 1.2;
}