html {
    font-size: 10px;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Play', Helvetica, sans-serif;;
    color: #000;
    font-size: 16px;
    line-height: 1.42;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
p {
    margin: 0;
}
* {
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.container {
    margin: 0 auto;
    width: 1101px;
}

input, button {
    border: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}