@mixin tablets{
	@media screen and (max-width: 768px) {
        @content;
    }
} 
@mixin phones{
	@media screen and (max-width: 480px) {
        @content;
    }
} 



@media (max-width: 768px) {
    html {font-size: 8px;}
    .container {max-width: 730px;}
}
 
@media (max-width: 480px) {
    html {font-size: 6px;}
    .container {max-width: 430px;}
}