.hamburger {
    display: none;

    @include tablets {
        display: block;
        align-self: center;
    }
}

.menu__input {
    display: none;
  }

#menu__btn {
  display: none;
  @include tablets {
    display: flex;
    align-items: center;
    width: 24px;
    height: 22px;
    cursor: pointer;
    position: relative;
  }
  span, span::before, span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #000;
    border-radius: 10px;
  }
  span::before {
    content: "";
    top: -7px;
  }
  span::after {
    content: "";
    top: 7px;
  }
}


#hamburger__overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(49,52,54,0.98);
  z-index: 10000;
  justify-content: center;
}
.menu__list--hamburger {
  position: fixed;
  padding-top: 10%;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}
.menu__item--hamburger {
  margin-bottom: 5.5rem;
  margin-right: 0;

  &:last-child {
    margin-bottom: 0;
  }
}
.menu__item-link--hamburger{
  font-size: 3.6rem;
}

#menu__close {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#hamburger__close {

  &::before, &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 10px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}