.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8.2rem;
}
.header__logo {
    display: block;
    margin-right: -1.1rem;
    flex-shrink: 0;
}
.logo-icon {
    width: 41px;
    height: 41px;
    fill: #e01f3d;
}
.header__pic {
    width: 100%;
    height: 100%;
}
.header__menu {
    @include tablets {
        margin-right: 0;
    }
  }