.socials{
    display: flex;
}
.socials__item{
    margin-right: 1rem;

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0.65rem;
    }
}
.socials__link{
    display: block;
    text-decoration: none;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background: #b3b3b3 center center no-repeat;
    position: relative;
    transition: background-color 0.5s;

    &:hover {
        background: #000;
    }
}

.tw-svg {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.6rem;
    height: 2.6rem;
}
.vk-svg {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.6rem;
    height: 2.6rem;
}
.fb-svg {
    fill: #fff;
    position: absolute;
    top: 10%;
    right: 26%;
    width: 3.8rem;
    height: 3.3rem;
}
.insta-svg {
    fill: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.3rem;
    height: 2.3rem;
}