.button {
  font-size: 16px;
  padding: 17px 41px;
  border-radius: 25.5px;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.button--theme--red {
  background: #e01f3d;
  color: #fff;
}
.button--theme--red:hover {
  background-color: #ca1b36;
}

.button--theme--transparent {
  background: transparent;
  color: #999999;
  padding: 0;
}
.button--theme--transparent:hover {
  color: #e01f3d;
}

.button--section--feedback {
  margin-right: 17px;
}