.feedback {
  background: url(/img/pics/formsbg.png) center bottom no-repeat;
  background-color: #171717;
}

.container--feedback {
  padding: 8.5rem 0rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.feedback__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 4.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5.4rem;
}

.feedback__form {
  display: flex;
}

.feedback__form-col {
  flex: 1;
  margin-right: 2rem;
}
.feedback__form-col:last-child {
  margin-right: 0;
}

.feedback__form-row {
  display: flex;
  margin-bottom: 1.8rem;
}

.feedback__form-block {
  flex: 1;
  margin-right: 2rem;
}
.feedback__form-block:last-child {
  margin-right: 0;
}

.feedback__form-title {
  color: #f8faf9;
  margin-bottom: 0.6rem;
}

.feedback__form-input {
  width: 100%;
  border: none;
  padding: 18px 11px;
  border: solid 3px transparent;
}
.feedback__form-input--textarea {
  height: 18rem;
  resize: none;
  margin-bottom: 0.3rem;
}
.feedback__form-input:focus {
  border-color: #e01f3d;
  outline: none;
}

.feedback__form-controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.9rem;
}
.feedback__form-controls--checkbox {
  margin-bottom: 4rem;
}
.feedback__form-controls:last-child {
  margin-bottom: 0;
}