.fixed-menu {
  position: fixed;
  top: 37%;
  right: 3%;
}

.fixed-menu__item {
  margin-bottom: 0.5rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e42424;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #e42424;
}

.fixed-menu__link {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #999999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}