.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container--footer {
  padding: 2.8rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}