.functions__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.functions__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1.5rem;
}

.functions__item-pic {
  width: 4.4rem;
  height: 4.4rem;
}

.functions__item-logo {
  margin-right: 1rem;
}

.functions__item-text {
  font-size: 1.6rem;
  width: 9.7rem;
}