.socials {
  display: flex;
}

.socials__item {
  margin-right: 1rem;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 3.6rem;
  height: 3.6rem;
  background: center center no-repeat;
  position: relative;
}

.socials__item--icon--tg .socials__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.6rem;
  height: 3.6rem;
  background: url(/img/pics/socials/social_sprites.png) -178px;
}
.socials__item--icon--tg .socials__link:hover::after {
  background: url(/img/pics/socials/social_sprites.png) 46px;
}

.socials__item--icon--vk .socials__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.6rem;
  height: 3.6rem;
  background: url(/img/pics/socials/social_sprites.png) -122px;
}
.socials__item--icon--vk .socials__link:hover::after {
  background: url(/img/pics/socials/social_sprites.png) 102px;
}

.socials__item--icon--fb .socials__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.6rem;
  height: 3.6rem;
  background: url(/img/pics/socials/social_sprites.png) -10px;
}
.socials__item--icon--fb .socials__link:hover::after {
  background: url(/img/pics/socials/social_sprites.png) 214px;
}

.socials__item--icon--insta .socials__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.6rem;
  height: 3.6rem;
  background: url(/img/pics/socials/social_sprites.png) -66px;
}
.socials__item--icon--insta .socials__link:hover::after {
  background: url(/img/pics/socials/social_sprites.png) 158px;
}